{% extends 'base.html' %}
{{ ckeditor.load() }}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if session["id"] == admin_id or session["is_admin"] %}

<h2>Add Blog Post</h2>
    <br/>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
            <br/>            
            {{ form.slug.label(class="form-label") }}
            {{ form.slug(class="form-control") }}
            <br/>
            {{ form.content.label(class="form-label") }}
            {{ form.content(class="form-control", rows="10") }}
            <br/>
            {{ form.submit(class="btn btn-secondary") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </div>

{% else %}
<h2>Must be logged in...</h2>
<p>Please login to access this page</p>
<a href="{{ url_for('login') }}">Login</a>
{% endif %}

{% endblock %} 